.flex-column-left-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.flex-row-left-center {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.grid-space-around-center {
	display: grid;
	justify-content: space-around;
	align-content: center;
}


.max-width100__max-height100 {
	max-width: 100%;
	max-height: 100%;
}

.marginAuto__padding0 {
	margin: auto;
	padding: 0;
}

.margin-Inherit__padding-Inherit {
	margin: inherit;
	padding: inherit;
}


.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.flexrow-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-row-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid-center-center {
	display: grid;
	justify-content: center;
	align-content: center;
}
