@font-face {
	src: url("../fonts/jet_set.ttf");
	font-family: "Jet Set";
}

@font-face {
	src: url("../fonts/progresspixel_bold.ttf");
	font-family: "Progresspixel Bold";
}

@font-face {
	src: url("../fonts/GivenyFree.otf");
	font-family: "GivenyFree";
}

@font-face {
	src: url("../fonts/BigNoodleTitling.ttf");
	font-family: "BigNoodleTitling";
}


@font-face {
	src: url("../fonts/Electrolize.ttf");
	font-family: "Electrolize";
}

@font-face {
	src: url("../fonts/ft_anima_Medium.otf");
	font-family: "ft anima Medium";
}

@font-face {
	src: url("../fonts/Block-O.ttf");
	font-family: "Block-O";
}

@font-face {
	src: url("../fonts/Gardens CM Regular.ttf");
	font-family: "Gardens CM Regular";
}



